.light-theme {
    background: #ffffff;
    color: black;
}

.dark-theme {
    background: black;
    color: #ffffff;
}




/* 
.light-navbar {
    background-color: whitesmoke; 
    color: black; 
  }
  
  .dark-navbar {
    background-color: black; 
    color: #ffffff; 
  } */
  .light-footer{
    background: #ffffff;
    color: black;
  }
   .dark-footer{
    background: black;
    color: #ffffff;
  }

.container-fluid img{
    width: 80px;
    height: 60px;
    border-radius: 50px;
}

.container-fluid .name{
    font-size: 29px;
    font-weight: bold;
    /* color: black; */
    cursor: pointer;
    
}
.Navbar{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}
.navbar-toggler .navbar-toggler-icon {
    color: #ffffff;
    background-color: #ffffff;
}
.navbar-nav .nav-item .nav-link{
    color: red;
    font-weight: bold;
}
.mode{
    z-index: 1;
    background-color: rgb(255, 255, 255);
}
#navbarText ul li  :hover{
    color: tomato;
    position: relative;
    justify-content: center;
    align-items: center;
}
#navbarText ul li a{
    color: white;
}
.navbar-text .btn1{
    background-color: tomato;
    border-color: tomato;
    color: white;
    border-radius: 20px;
}

.containerOne{
    margin-top: 60px;
}
.containerTwo{
    margin-top: 70px;
   
}


.text{
    margin-top: 15px;
    margin-left:20px;
}
.text {
    font-size: 40px;
    font-weight: bold;
  
}
.text:hover{
    color: tomato;
    cursor: pointer;
}


.footer{
    margin-top: 45px;
}















